Repository cfi2017/kasm-helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, yamllint, helm-template-test, helm-docs, values-validation

helm-lint:
  name: Helm Lint
  entry: helm
  language: system
  args:
  - lint
  - charts/kasm
  pass_filenames: false
  description: Lint Helm charts

yamllint:
  name: YAML Lint
  entry: yamllint
  language: system
  args:
  - -c
  - .github/lintconf.yaml
  description: Lint YAML files (excluding Helm templates)

helm-template-test:
  name: Helm Template Test
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  ...

helm-docs:
  name: Helm Docs
  entry: bash
  language: system
  pass_filenames: false
  always_run: false
  args:
  - -c
  ...

values-validation:
  name: Values File Validation
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  ...

feat: add api config file (#3)
  charts/kasm/templates/kasm-api/configmap.yaml
  charts/kasm/templates/kasm-api/deployment.yaml
  charts/kasm/templates/tests/test-api-config.yaml
  charts/kasm/values.yaml
Due: helm-lint, yamllint, helm-template-test, helm-docs, values-validation

feat: replace hardcoded passwords with init container injection and simplify CI workflow (#4)
  .github/workflows/chart-testing.yml
  charts/kasm/README.md
  charts/kasm/templates/configmap-password-injection.yaml
  charts/kasm/templates/kasm-api/configmap.yaml
  charts/kasm/templates/kasm-api/deployment.yaml
Due: helm-lint, helm-template-test, helm-docs

fix: better map config
  charts/kasm/templates/kasm-api/deployment.yaml
Due: helm-lint, helm-template-test

fix: simplify config injection
  charts/kasm/templates/kasm-api/configmap.yaml
  charts/kasm/templates/kasm-api/deployment.yaml
Due: helm-lint, helm-template-test

fix: indentation
  charts/kasm/templates/kasm-api/configmap.yaml
Due: helm-lint, helm-template-test

fix: init db script
  charts/kasm/templates/database/db-init-hook-configmap.yaml
  charts/kasm/templates/database/db-init-hook-job.yaml
  charts/kasm/values.yaml
Due: helm-lint, yamllint, helm-template-test, helm-docs, values-validation

fix: job retention
  charts/kasm/templates/database/db-init-hook-job.yaml
  charts/kasm/values.yaml
Due: helm-lint, yamllint, helm-template-test, helm-docs, values-validation

fix: update db init script
  charts/kasm/templates/database/db-init-hook-configmap.yaml
Due: helm-lint, helm-template-test

fix: export hash
  charts/kasm/templates/database/db-init-hook-configmap.yaml
Due: helm-lint, helm-template-test

fix: postgres install extension
  charts/kasm/templates/database/db-init-hook-configmap.yaml
Due: helm-lint, helm-template-test

fix: config for other containers
  charts/kasm/templates/_helpers.tpl
  charts/kasm/templates/kasm-guac/deployment.yaml
  charts/kasm/templates/kasm-manager/deployment.yaml
  charts/kasm/templates/kasm-proxy/deployment.yaml
  charts/kasm/templates/kasm-rdp/deployment.yaml
Due: helm-lint, helm-template-test

fix: set db passwords
  charts/kasm/templates/kasm-manager/deployment.yaml
Due: helm-lint, helm-template-test

fix: allow disabling tls
  charts/kasm/templates/networking/ingress.yaml
  charts/kasm/values.yaml
Due: helm-lint, yamllint, helm-template-test, helm-docs, values-validation

Path conditions:
  helm-lint: any of: ^charts/.*/(Chart\.yaml|values.*\.yaml|templates/.*)$
  yamllint: any of: ^charts/.*\.(yaml|yml)$, but not: ^charts/.*/templates/
  helm-template-test: any of: ^charts/.*/(Chart\.yaml|values.*\.yaml|templates/.*)$
  helm-docs: any of: ^charts/.*/(Chart\.yaml|values.*\.yaml|README\.md)$
  values-validation: any of: ^charts/.*/values.*\.yaml$
